@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@400;700&display=swap');

:root {
    --White: #ffffff;
    --Black: #000000;
    --Bright-orange: #e38826;
    --Dark-cyan: #006970;
    --Very-dark-cyan: #004241;
    --Cor-ancora: #3e52a3;

    --Cor-paragrafos: #ffffffbf;
    --Cor-background-headings-buttons: #f2f2f2;
    
    --fonte-principal: 'Lexend Deca', sans-serif;
    --fonte-estilo: 'Big Shoulders Display', cursive, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--Cor-background-headings-buttons);
    max-width: 1440px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% auto;
    border: 1px solid black;
    border-radius: 15px;

}

.sedans, .suvs, .luxury {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 50px;
    row-gap: 30px;
}

.sedans img, .suvs img, .luxury img {
    width: 60px;
}

.sedans {
    background-color: var(--Bright-orange);
}

.sedans a {
    color: var(--Bright-orange);
    background-color: var(--White);
    padding: 10px 30px;
    border-radius: 25px;
}

.suvs {
    background-color: var(--Dark-cyan);
}

.suvs a {
    color: var(--Dark-cyan);
    background-color: var(--White);
    padding: 10px 30px;
    border-radius: 25px;
}

.luxury {
    background-color: var(--Very-dark-cyan);
}

.luxury a {
    color: var(--Very-dark-cyan);
    background-color: var(--White);
    padding: 10px 30px;
    border-radius: 25px;
}

.sedans a, .suvs a, .luxury a {
    text-decoration: none;
}

h1 {
    font-family: var(--fonte-estilo);
}

p {
    font-family: var(--fonte-principal);
    color: var(--Cor-paragrafos);
    font-size: 15px;
}

.attribution {
    font-size: 11px; text-align: center;
    margin: -9%;
}

.attribution a {
    color: var(--Cor-ancora);
}

.attribution a:hover {
    color: var(--Black);
    font-weight: bold;
}